<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <h1>{{title}}</h1>


    <ion-button expand="block" (click)="onTakePicture()">Prendre une photo</ion-button>

    <ion-button expand="block" (click)="onSave()">Enregistrer</ion-button>

    <ion-textarea [(ngModel)]="notes"></ion-textarea>

    <div class="images">
      <ion-list>
        <ion-item *ngFor="let img of imageList">
          <img class="images__item" [src]="img">
        </ion-item>
      </ion-list>
    </div>

  </div>

</ion-content>